.container
  max-width: 1194px
  margin: auto
.header
  display: flex
  align-items: center
  &-logo
    margin-top: 7px
  &-search
    margin-left: 76px
    max-width: 620px
    display: flex
    background: rgba(238, 238, 238, 0.71)
    border-radius: 10px
    flex-grow: 1
    position: relative
    &__input
      background-color: transparent
      border: none
      width: 100%
      padding: 16px 45px 14px 21px
    &__button
      background-color: transparent
      border: none
      padding-top: 14px
      padding-right: 18px
      position: absolute
      right: 0
      top: 0
      color: #57565B
  &-auth
    margin-left: auto
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    display: block
    &__login
      padding: 16px 30px 16px 30px
      background: #EBEBEB
      border-radius: 50px
      text-decoration: none
      color: #000000
      margin-right: 31px
    &__shopping-cart
      position: relative
      text-decoration: none
      display: flex
      align-items: center
      justify-content: center
      margin-left: 30px
      margin-top: 4px
      width: 49px
      height: 49px
      border-radius: 50%
      background: #F66A15
.shopping-counter
  position: absolute
  right: 0
  bottom: 0
  font-size: 8px
  line-height: 9px
  background-color: #FFAF19
  color: #000000
  border-radius: 50%
  font-family: Roboto
  padding: 5px
  display: block